.input_container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.label {
    font-size: 1.5rem;
}

.input {
    padding: 16px;
    border-radius: 8px;
    border: none;
    width: 100%;
    border: 2px solid #ddd;
    outline: none;
}

.input::placeholder {
    font-size: 1.125rem;
    color: #888; 
}

input:focus {
    border-color: #ff1493; 
    box-shadow: 0 0 5px rgba(255, 20, 147, 0.5);
}