.button {
    width: 100%;
    background: #ff1493;
    border: none;
    padding: 16px;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #c01070;
}